@model TowerOfHanoi.Models.Optimal

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Optimal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiskNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiskNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovesO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovesO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Configuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Configuration.ConfigurationID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OptimalID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-controller="variations" asp-action="index">Back to List</a>
    </form>
</div>
